<div class="w-100 h-100" >
    <div class="vh-100 d-flex align-items-center justify-content-center ">
        <div>
            <div class="spinner-border " role="status" style="width: 5rem; height: 5rem; color: hsla(4, 93%, 67%, 1)"></div>
        </div>
    </div>
</div>

@code {

}
